<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038791985000-dhl3s64b5mtthrp63apg4uifda3pmui2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038791985000-dhl3s64b5mtthrp63apg4uifda3pmui2</string>
	<key>API_KEY</key>
	<string>AIzaSyBPbOHVKiAwJvgu8jpxDDqu8GNnoDEm5rg</string>
	<key>GCM_SENDER_ID</key>
	<string>1038791985000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizappflutter-f7f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>quizappflutter-f7f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038791985000:ios:8a9f5f8afea018e4ee38dd</string>
	<key>DATABASE_URL</key>
	<string>https://quizappflutter-f7f2b-default-rtdb.firebaseio.com</string>
</dict>
</plist>